.header {
    text-align: center;
}

.car {
    margin-left: auto;

    margin-right: auto;

    border-width: thick;

    border-style: solid;

    border-color: black;

    display: block;
}

.intro {
    color: black;

    font-size: x-large;

    text-align: center;
}
